<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-button href="/l/create-asset">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Assets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding" lines="none">
    <ion-item 
    *ngFor="let asset of assets"
    detail="true"
    button="true"
    href="/l/assets/asset/{{asset.id}}">
      <ion-icon slot="start" [name]="(asset.type=='house')?'home':'business'"></ion-icon>
      <ion-label>
        <h2 style="font-weight:700;">{{ asset?.name }}</h2>
        <p>{{ asset?.address }}</p>
        <p>Leasers: {{ asset?.leasers||0 }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <div class="ion-text-center">
      <ion-label>Add your properties to the list to manage all of your collections.</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
