<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/l/assets"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Asset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-list lines="none" class="ion-margin ion-padding">
    <ion-item color="light">
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" [(ngModel)]="asset.name" name="name"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="stacked">Type</ion-label>
      <ion-select [(ngModel)]="asset.type" name="type">
        <ion-select-option value="house">House</ion-select-option>
        <ion-select-option value="apartment">Apartment</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block">Save Asset</ion-button>
  </ion-list>

</ion-content>
