<ion-content>
  <div class="ion-text-center ion-padding ion-margin">
    <h1 
    class="ion-padding ion-text-uppercase"
    style="font-size: 40px; font-weight: 700;"
    >Create your property list and start leasing online today</h1>
    <ion-button 
    expand="block" 
    color="primary" 
    fill="outline"
    size="large"
    class="ion-margin ion-padding"
    >Get started</ion-button>
  </div>
  <div 
  class="ion-text-center ion-padding"
  style="background-color: #3880ff; color: white;">
    <strong class="ion-margin ion-padding">
      Thank you for visiting our platform!
      Revisit us for new updates as we continue to grow.
    </strong>
  </div>
</ion-content>
