<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-title>
      <ion-icon name="home"style="margin: 0; padding: 0;"></ion-icon>
      <strong style="font-stretch:extra-condensed;">
        RentalDemo
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <div class="ion-text-center ion-padding ion-margin">
    <h1 
    class="ion-padding ion-text-uppercase"
    style="font-size: 40px; font-weight: 700;"
    >Manage your assets. <ion-text color="medium">Start leasing online today.</ion-text></h1>
    <strong>
      <ion-text color="dark" 
      class="ion-padding"
      >With easy payment processing and 
      streamlined tenant management, you 
      can focus on scaling your business. 
      Don't chase payments. Don't
       worry about collection efforts. Don't stress. 
       Join today and take 
       your real estate business to the 
       next level.</ion-text>
    </strong>
    <ion-button 
    expand="block"
    href="l/assets"
    class="ion-margin"
    >Get started</ion-button>
  </div>
</ion-content>
<ion-footer>
  <div 
  class="ion-text-center ion-padding"
  style="background-color: #3880ff; color: white;">
    <ion-text class="ion-margin ion-padding">
      Thank you for visiting our platform!
      Revisit us for new updates as we continue to grow.
    </ion-text>
  </div>
</ion-footer>